<div class="container">
  <mat-card class="mat-elevation-z9 spacer" >
  <div class="storyPreview">
    <h1>Experiments with particles</h1>
    <div class="picture lazyloaded-completed">
      <img alt="Molecule model" class=" lazyloaded" sizes="(max-width:767px) 100px, 380px"
        src="https://d1ymz67w5raq8g.cloudfront.net/Pictures/100x67//7/7/3/500773_moleculemodel_shutterstock_612196760_844557_crop.jpg"
        data-src="https://d1ymz67w5raq8g.cloudfront.net/Pictures/100x67//7/7/3/500773_moleculemodel_shutterstock_612196760_844557_crop.jpg"
        data-srcset="https://d1ymz67w5raq8g.cloudfront.net/Pictures/100x67/7/7/3/500773_moleculemodel_shutterstock_612196760_844557_crop.jpg 100w,https://d1ymz67w5raq8g.cloudfront.net/Pictures/380x253/7/7/3/500773_moleculemodel_shutterstock_612196760_844557_crop.jpg 380w"
        srcset="https://d1ymz67w5raq8g.cloudfront.net/Pictures/100x67/7/7/3/500773_moleculemodel_shutterstock_612196760_844557_crop.jpg 100w,https://d1ymz67w5raq8g.cloudfront.net/Pictures/380x253/7/7/3/500773_moleculemodel_shutterstock_612196760_844557_crop.jpg 380w">
    </div>
    <div class="standfirst">
      <p>Predict what will happen to the volume of materials when they are added together… then observe</p>
    </div>
    <div class="synopsis-access">
      <p>Predict what will happen to the volume of materials when they are added together… then observe</p>
    </div>
  </div>
</mat-card>



  <mat-card class="mat-elevation-z9 spacer">
    <div class="component-row component-row__display__centered section-navigation effect_none">
      <div class="component-row__row">
        <div class="component-row__column component-row__center section-has-no-column col-md-12 col-sm-12 col-xs-12">
          <div class="box-effects-wrapper ">
            <div class="text-component text-component-page clearfix">
              <h2 class="text-component-title">
                LHC experiments
              </h2>
              <div class="text-component-text cern_full_html">
                <p class="column-left image-align">Seven experiments at the <a
                    href="/about/accelerators/large-hadron-collider">Large Hadron Collider</a>&nbsp;(LHC) use <a
                    href="/about/how-detector-works">detectors</a> to analyse the myriad of particles produced by
                  collisions
                  in the <a href="/about/how-accelerator-works">accelerator</a>. These experiments are run by
                  collaborations
                  of scientists from institutes all over the world. Each experiment is distinct, and characterised by
                  its
                  detectors.</p>

                <figure class="cds-image align-right" id="CERN-EX-0606036-01" style="height: 100%; position: relative;">
                  <a href="//cds.cern.ch/images/CERN-EX-0606036-01" title="View on CDS"><img
                      alt="Large Hadron Collider,LHC,Magnets,Dipole,Work,Tunnel"
                      src="//cds.cern.ch/images/CERN-EX-0606036-01/file?size=medium"></a>
                  <figcaption>The biggest experiments at CERN operate at the Large Hadron Collider, seen here during the
                    installation of the accelerator's dipole magnets<span> (Image: Maximilien Brice/Claudia
                      Marcelloni/CERN)</span></figcaption>
                </figure>
                <p class="column-left image-align">The biggest of these experiments, <a
                    href="/about/experiments/atlas">ATLAS</a> and <a href="/about/experiments/cms">CMS</a>, use
                  general-purpose detectors to investigate the largest range of physics possible. Having two
                  independently
                  designed detectors is vital for cross-confirmation of any new discoveries made.&nbsp;<a
                    href="/about/experiments/alice">ALICE</a> and <a href="/about/experiments/lhcb">LHCb</a>&nbsp;have
                  detectors specialised for focussing on specific phenomena. These four detectors sit underground in
                  huge
                  caverns on the LHC ring.</p>

                <p class="column-left image-align">The smallest experiments on the LHC are&nbsp;<a
                    href="/about/experiments/totem">TOTEM</a>&nbsp;and&nbsp;<a
                    href="/about/experiments/lhcf">LHCf</a>,&nbsp;which&nbsp;focus on "forward particles" – protons or
                  heavy
                  ions that brush past each other rather than meeting head on when the beams collide. TOTEM uses
                  detectors
                  positioned on either side of the CMS interaction point, while LHCf is made up of two detectors which
                  sit
                  along the LHC beamline, at 140 metres either side of the ATLAS collision point.&nbsp;<a
                    href="/about/experiments/moedal">MoEDAL</a>&nbsp;uses detectors deployed near LHCb to search for a
                  hypothetical particle called the magnetic monopole.&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>