<div class="container">
  <br><br><br><br><br>
  <mat-card class="mat-elevation-z9 spacer">
    <div class="container">
      <div class="inner-sleeve">
        <div class="storyPreview">
          <h1 class="text-center">Introduction to spectroscopy</h1>
          <br>
          <div class="picture lazyloaded-completed">
            <img alt="electromagnetic radiation" style="margin: 0 32%;" class=" ls-is-cached lazyloaded"
              sizes="(max-width:767px) 100px, 380px"
              src="https://d1ymz67w5raq8g.cloudfront.net/Pictures/100x67//2/4/2/500242_electromagneticradiation_361563.jpg"
              data-src="https://d1ymz67w5raq8g.cloudfront.net/Pictures/100x67//2/4/2/500242_electromagneticradiation_361563.jpg"
              data-srcset="https://d1ymz67w5raq8g.cloudfront.net/Pictures/100x67/2/4/2/500242_electromagneticradiation_361563.jpg 100w,https://d1ymz67w5raq8g.cloudfront.net/Pictures/380x253/2/4/2/500242_electromagneticradiation_361563.jpg 380w"
              srcset="https://d1ymz67w5raq8g.cloudfront.net/Pictures/100x67/2/4/2/500242_electromagneticradiation_361563.jpg 100w,https://d1ymz67w5raq8g.cloudfront.net/Pictures/380x253/2/4/2/500242_electromagneticradiation_361563.jpg 380w">
          </div>
          <br>
          <div class="standfirst">
            <p>Get back to basics with this primer on the principles of spectroscopic techniques, including infrared
              (IR), ultraviolet-visible (UV-vis) and nuclear magnetic resonance (NMR). To make it even easier, each
              technique has clear explanations and descriptions supported by animations.</p>
          </div>
          <div class="synopsis-access">
            <p>Explain the principles of a range of spectroscopic techniques including infrared (IR),
              ultraviolet-visible (UV-vis) and nuclear magnetic resonance (NMR). Each technique has clear explanations
              and descriptions supported by animations (many of which are interactive) to aid your learning.</p>
          </div>
        </div>
      </div>

      <section class="Abstract" id="Abs1" tabindex="-1" lang="en">
        <h2 class="Heading">Abstract</h2>
        <p class="Para">Organic chemists use spectroscopy as a necessary tool for structure determination.
          Spectroscopy may be defined as the <em class="EmphasisTypeItalic ">study of the quantized interaction of
            electromagnetic radiations with matter</em>. Electromagnetic radiations are produced by the oscillation of
          electric charge and magnetic field residing on the atom. There are various forms of electromagnetic
          radiation, e.g. light (visible), ultraviolet, infrared, X-rays, microwaves, radio waves, cosmic rays etc.
        </p>
      </section>

      <section>
        <h2>Quantitative chemical analysis</h2>
        <p>
          Quantitative chemical analysis, branch of chemistry that deals with the determination of the amount or
          percentage of one or more constituents of a sample. A variety of methods is employed for quantitative
          analyses,
          which for convenience may be broadly classified as chemical or physical, depending upon which properties are
          utilized. Chemical methods depend upon such reactions as precipitation, neutralization, oxidation, or, in
          general, the formation of a new compound. The major types of strictly chemical methods are known as
          gravimetric
          analysis (q.v.) and volumetric, or titrimetric, analysis (see volumetric analysis). Physical methods involve
          the
          measurement of some physical property such as density, refractive index, absorption or polarization of light,
          electromotive force, magnetic susceptibility, and numerous others. An analysis will often require a
          combination
          of methods: qualitative for separating desired constituents from a sample and quantitative for measuring the
          amounts present.
        </p>
      </section>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="overflow: hidden;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/MPqCzsntjAE" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-3"></div>
    </div>
    
  </mat-card>

</div>
<br><br><br><br><br>