
<div class="container">
<mat-card class="mat-elevation-z9 spacer">
  <mat-card-header>
    <mat-card-title>
        <a href="#"
        class="image lazyloaded-completed"><img alt="Organic chemistry background" class="template-helper lazyloaded"
          src="https://d1ymz67w5raq8g.cloudfront.net/Pictures/460x307//4/1/6/17416_3organicchemistrybackground_619603.jpg"
          ></a>
    </mat-card-title>
    <mat-card-subtitle>
        <h2>Synthesis Explorer</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <p class="intro">Plan synthetic routes and study key organic chemistry reactions interactively.</p>
      <h1>3D Solid State Crystal models</h1>



<h2>3D Bravais Lattices</h2>

<i>Bravais lattice</i> is a lattice with translation symmetry which consists of
equivalent nodes. There are 14 different Bravais lattices in 3D. Only three
Bravais lattices with <a href="CubicSym.html">cubic symmetry</a>
(<a href="vrml/CubicSym.wrl">vrml</a>) are shown here.
<i>Wigner-Zeitz cell</i> consists of all points nearest to a node
and has point symmetry of the corresponding Bravais lattice.

<table><tbody><tr><td>
<img width="150" height="150" title="Cubic" src="https://www.ibiblio.org/e-notes/Cryst/fig/Cubic.jpg">
</td><td>
<a href="Cubic.html"><b>Simple Cubic</b></a> lattice
(<a href="vrml/Cubic.wrl">vrml</a>).
<br><a href="Cubic4.html">4x4x4</a> (<a href="vrml/Cubic5.wrl">vrml</a>) and
<a href="Cubic6.html">6x6x6</a> (<a href="vrml/Cubic7.wrl">vrml</a>) cells
lattices.
</td></tr><tr><td>

<img width="150" height="150" title="CCC" src="https://www.ibiblio.org/e-notes/Cryst/fig/BCC.jpg">
</td><td>
<a href="#"><b>Body Centered Cubic</b></a> (<i>BCC</i>) unit cell
(<a href="#">vrml</a>)

<br><a href="#">2x2x2</a> (<a href="#">vrml</a>) and
<a href="#">4x4x4</a> (<a href="#">vrml</a>) cells lattices.

α-Fe, Na, K, β-Ti have this structure.
The Wigner-Zeitz cell for the BCC lattice is
<a href="#">truncated octahedron</a>
(<a href="#">vrml</a>).
</td></tr><tr><td>

<img width="150" height="150" title="FCC" src="https://www.ibiblio.org/e-notes/Cryst/fig/FCC.jpg"></td><td>
<a href="#"><b>Face Centered Cubic</b></a> (<i>FCC</i>) unit cell
(<a href="#">vrml</a>).

<br><a href="#">2x2x2</a> (<a href="#">vrml</a>) and
<a href="#">4x4x4</a> (<a href="#">vrml</a>) lattices.
Cu, Au, Ag, Al, Pt, Pd have this structure.
The Wigner-Zeitz cell for the FCC lattice is
<a href="#">rhombic dodecahedron</a>
(<a href="#">vrml</a>).
</td></tr></tbody></table>


  </mat-card-content>

</mat-card>
</div>