<div class="container">
  <mat-card class="mat-elevation-z9 spacer">
    <img loading="lazy"
      src="https://cdn.britannica.com/s:700x500/45/7445-050-CA28EA33/version-periodic-table-elements.jpg"
      alt="periodic table" data-width="1600" data-height="1121">
  </mat-card>


  <mat-card class="mat-elevation-z9 spacer">
    <p><strong><span id="ref1185987"></span>Periodic table</strong>, in full <strong>periodic table of the
        elements</strong>, in <span id="ref621281"></span><a href="https://www.britannica.com/science/chemistry"
        class="md-crosslink">chemistry</a>, the organized array of all the <a
        href="https://www.britannica.com/science/chemical-element" class="md-crosslink">chemical elements</a> in order
      of increasing <span id="ref1274979"></span><a href="https://www.britannica.com/science/atomic-number"
        class="md-crosslink">atomic number</a>—i.e., the total number of <a
        href="https://www.britannica.com/science/proton-subatomic-particle" class="md-crosslink">protons</a> in the
      atomic nucleus. When the chemical elements are thus arranged, there is a recurring pattern called the “periodic
      law” in their properties, in which elements in the same column (group) have similar properties. The initial
      discovery, which was made by <a href="https://www.britannica.com/biography/Dmitri-Mendeleev"
        class="md-crosslink">Dmitry I. Mendeleyev</a> in the mid-19th century, has been of inestimable value in the
      development of <a href="https://www.britannica.com/science/chemistry" class="md-crosslink">chemistry</a>.</p>
    <p>It was not actually recognized until the second decade of the 20th century that the order of elements in the
      periodic system is that of their atomic numbers, the integers of which are equal to the positive electrical
      charges of the <span id="ref621283"></span><a href="https://www.britannica.com/science/atomic-nucleus"
        class="md-crosslink">atomic nuclei</a> expressed in electronic units. In subsequent years great progress was
      made in explaining the periodic law in terms of the <a
        href="https://www.britannica.com/science/electronic-configuration" class="md-crosslink autoxref">electronic
        structure</a> of atoms and molecules. This clarification has increased the value of the law, which is used as
      much today as it was at the beginning of the 20th century, when it expressed the only known relationship among the
      elements.</p>
    <h2 class="h1">History of the periodic law</h2>
    <p>The early years of the 19th century witnessed a rapid development in <a
        href="https://www.merriam-webster.com/dictionary/analytical" class="md-dictionary-link md-dictionary-tt-off"
        data-term="analytical">analytical</a> chemistry—the art of distinguishing different chemical substances—and the
      consequent building up of a vast body of knowledge of the chemical and physical properties of both elements and <a
        href="https://www.merriam-webster.com/dictionary/compounds" class="md-dictionary-link md-dictionary-tt-off"
        data-term="compounds">compounds</a>. This rapid expansion of chemical knowledge soon necessitated <span
        id="ref624390"></span><a href="https://www.britannica.com/science/classification-science"
        class="md-crosslink">classification</a>, for on the classification of chemical knowledge are based not only the
      systematized literature of chemistry but also the laboratory arts by which chemistry is passed on as a living <a
        href="https://www.britannica.com/science/science" class="md-crosslink autoxref">science</a> from one generation
      of chemists to another. Relationships were discerned more readily among the compounds than among the elements; it
      thus occurred that the classification of elements lagged many years behind that of compounds. In fact, no general
      agreement had been reached among chemists as to the classification of elements for nearly half a century after the
      systems of classification of compounds had become established in general use.</p>

    <br><br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <iframe [class.thumbnail]="thumbnail" [src]="safeSrc" width="560" height="315" frameborder="0" webkitallowfullscreen
          mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="col-md-3"></div>
    </div>
    
    <br>
  </mat-card>
</div>